logs/
*.log

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/

.venv/
venv/
env/
ENV/

.pytest_cache/
.coverage
htmlcov/

.idea/
.vscode/
*.swp
*.spo
*-

.DS_Store
Thumbs.db
desktop.ini

.env
.env.*2026-09-30 09:38:56 | [INFO   ] | Логгер успешно сконфигурирован
2026-09-30 09:38:56 | [INFO   ] | Приложение запущено
2026-09-30 09:38:56 | [INFO   ] | Старт обработки запроса
2026-09-30 09:38:59 | [INFO   ] | Запрос A='3', B='4', C='5'
2026-09-30 09:38:59 | [DEBUG  ] | Вид треугольника: разносторонний
2026-09-30 09:38:59 | [CRITICAL] | Критическая ошибка обработки запроса
Traceback (most recent call last):
  File "C:\Users\maksimovskayate\PycharmProjects\PTPM-VKI\main.py", line 134, in Main
    kind, vertices = process_request(raw_a, raw_b, raw_c)
    ^^^^^^^^^^^^^^
TypeError: cannot unpack non-iterable NoneType object
2026-09-30 09:38:59 | [INFO   ] | Завершение обработки
2026-09-30 09:39:31 | [INFO   ] | Логгер успешно сконфигурирован
2026-09-30 09:39:31 | [INFO   ] | Приложение запущено
2026-09-30 09:39:31 | [INFO   ] | Старт обработки запроса
2026-09-30 09:39:35 | [INFO   ] | Запрос A='2', B='3', C='2'
2026-09-30 09:39:35 | [DEBUG  ] | Вид треугольника: равнобедренный
2026-09-30 09:39:35 | [CRITICAL] | Критическая ошибка обработки запроса
Traceback (most recent call last):
  File "C:\Users\maksimovskayate\PycharmProjects\PTPM-VKI\main.py", line 134, in Main
    kind, vertices = process_request(raw_a, raw_b, raw_c)
    ^^^^^^^^^^^^^^
TypeError: cannot unpack non-iterable NoneType object
2026-09-30 09:39:35 | [INFO   ] | Завершение обработки
